<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <p>
          Aplicación desarrollada en IONIC para detectar la Red WIFI y la intensidad RSSI 
          a la que esta conectada el dispositivo.
        </p>
        <br>
        <p>Guarda los datos y los muestra en una lista.</p>
        <br>
        <p>Version 1.0</p>
        <br>
        <p>Faby - 2021</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
